@{
    PublicRoleGroup roleGroup = (PublicRoleGroup)ViewData["RoleGroup"];
    PublicRoleDetails[] allRoles = (PublicRoleDetails[])ViewData["Roles"];
}

Edit Role Group
<form action="~/Admin/RoleGroups/Edit/@roleGroup.Id" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label for="Name">Name:</label>
        <input name="Name" id="Name" placeholder="Role Group Name" type="text" value="@roleGroup.Name" required />
    </div>
    <div>
        <label for="Description">Description:</label>
        <input name="Description" id="Description" placeholder="Role Group Name" value="@roleGroup.Description" type="text" required />
    </div>
    <div>
        <table>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Description</td>
            </tr>
            @foreach(var role in allRoles) {
                var check = roleGroup.Roles.Any(x => x.Id == role.Id) ? "checked" : "";
                <tr>
                    <td>
                        <input type="checkbox" name="Roles" value="@role.Id" id="@role.Name" @check />
                    </td>
                    <td><label for="@role.Name">@role.Name</label></td>
                    <td>@role.Description</td>
                </tr>
            }
        </table>
    </div>
    <div>
        <button type="submit">Update Role</button>
    </div>
</form>
